:hover {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
@media (min-width: 1200px) {
    .ngonngu   {
        min-width: 35px;
        margin: 0px;
        padding: 0px;
    }
    .ngonngu    li img {
        width: 30px;
    }
    .ngonngu    li a {
        padding: 5px;
    }
    .slider-new .item img {
        height: 183px;
    }
    .row-8 {
        margin-left: -8px !important;
        margin-right: -8px !important;
    }
    .row-7 {
        margin-left: -7px !important;
        margin-right: -7px !important;
    }

    .row-10 {
        margin-left: -10px !important;
        margin-right: -10px !important;
    }

    .row-5 {
        margin-left: -5px !important;
        margin-right: -5px !important;
    }
}
@media (max-width:767px)  /* xs */{
    .ngonngu    li img {
        height: 20px;
    }
    .slider-new .item img {
        height: 117px;
    }
    .ctrlq.fb-button {
        width: 40px !important;
        height: 40px !important;
         bottom: 2px !important;
    }
}
.box-prod-home {
    border: solid 1px #eeeeee;
    padding: 20px;
    background: #fff;
}
.box-prod-home:hover {
    border: solid 1px #7fc142;
}
.box-prod-home .name-prod-home a {
    color: #333333;
    font-size: 16px;
}
 .box-prod-home:hover .name-prod-home  a {
    color: #7fc142;
}
 .experience {
     display: none;
 }
.title-home a {
    color: #333;
}
 .partner {
     display: none;
 }
 .desc-support {
     text-align: center;
     font-size: 24px;
     margin-bottom: 80px;
 }
 .support h2 {
    margin-bottom: 60px;
 }
 .title-bottom-menu-2 {
     /*opacity: 0px;*/
 }
.develop .circle {
    position: absolute;
    right: -29px;
    z-index: 99999;
    top: 46%;
}
.item-phattrien .title-dev a {
    font-size: 22px;
    color: #fff;
    font-weight: bold;
}
.item-phattrien .title-dev   {
    font-size: 22px;
    color: #fff;
    font-weight: bold;
}
.item-phattrien .title-dev {
    margin-bottom: 15px;
}
.item-phattrien .dcs-dev-home {
    font-size: 13px;
    color: #fff;
    line-height: 28px;
}
.item-phattrien .dcs-dev-home a{
    font-size: 14px;
    color: #fff;
    font-style: italic;
    line-height: 28px;
}
.item-phattrien {
    position: relative;
    padding: 50px 25px;
    height: 425px;
 }
.item-phattrien .number-dev {
    font-size: 90px;
    position: absolute;
    top: 0px;
    left: 3px;
    opacity: 0.15;
    color: #fff;
    line-height: 74px;
    height: 74px;
    overflow: hidden;
}
.intro {
    margin-top: 60px;
}
.title-bottom-menu-2 {
    opacity: 0;
}
.circle-white {
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 50%;
}
.develop .circle-blue {
    width: 45px;
    height: 45px;
    background: #12479f;
    border-radius: 50%;
    right: -23px;
    top: 46.5%;
}
.item-phattrien {
    background: #12479f;
    border-radius: 10px;
}
.item-phattrien:hover {
    background: #7fc142;
}
.item-phattrien:hover .circle-blue {
    background: #7fc142;
}
.page-lang-vi .item-phattrien {
    height: 300px;
}

.tintuc-home .lich {
    display: inline-block;
    margin-right: 10px;
}
.tintuc-home .lich img {
    width: auto;
    height: auto !important;
}
.tintuc-home .name_news {
    height: auto;
    padding-bottom: 10px;
}
.tintuc-home .comment {
    text-align: right;
    margin-bottom: 10px;
}
.tintuc-home .des_news {
    height: auto;
}

.box-footer .title-bottom {
    line-height: 1.5;
    padding-right: 40px;
    margin: 10px 0 55px;
}

@media (max-width: 1000px) {
    .top-center .visible-xs a img {
        float: left;
        margin-left: 25px;
    }
    .top-center .visible-xs .nav-toggle {
        right: 10px;
        left: auto;
    }
    .nav-menu {
        margin-top: 10px;
    }
    .bg-img {
        min-height: 300px !important;
    }
}

.bg-img {
    min-height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-article {
    padding-bottom: 50px;
}
.name_news {
    padding: 10px;
    height: auto;
}
.des_news {
    height: auto;
}
.detail-news .view-news {
    color: #7fc142;
}
.detail-news {
    margin: 10px;
}
.img_news img {
    width: 100%;
}

.list-cate li a:hover {
    color: #7fc142;
    text-decoration: none;
}
.banner-fix .owl-carousel .owl-item img {
    min-height: 190px;
}
